
@font-face {
  font-family: equibeeFont;
  src: url(Gamer.ttf);
}
body {
    font-family: "Merriweather" 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

/*background-color:#fedf59;*/
}
nav {
  font-family: equibeeFont;
  border-radius: 5%;
}
.header {
    margin:20px;
}
main {
  color: #1c1c0c;
}
.header {
    float:lef;
    padding-right: 20px;

}
nav > ul {
    overflow:hidden;
    list-style-type: none;
    background-color:#fce49c;
}
nav > ul > li {
    float: right;
    display:block;
    color: #1c1c0c;
    text-align: center;
    padding: 10px;
}
nav > ul > li > a {
    text-decoration: none;
    color: #1c1c0c;
}

img {
    max-width: 100%;
}

.fullLogo {
  max-width: 10%;
  border-radius: 5%;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}
.links
{
    overflow:hidden;
    list-style-type: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fce49c;
    color: #1c1c0c;
    text-align: center;
}
.links > ul > li {
    float: right;
    display:block;
    color: #1c1c0c;
    text-align: center;
    padding: 10px;
}
.links > ul > li > a {
    text-decoration: none;
    color: #1c1c0c;
}
#copyright {
  float: left;  
  bottom: 0;
  padding-left: 1em;
  font-size: 0.80em;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: #1c1c0c;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;

}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position:fixed;
top: 0;
  right: 15px;
  border: 3px solid #1c1c0c;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 10px;
  background-color: #1c1c0c;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] .form-container input[type=radio]  {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus .form-container input[type=radio]{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: #1c1c0c;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}    

@media screen and (max-width: 480px) {
  body {
    font-size: 0.8rem;
  }
  
}